body {
  min-width: 320px;
}

/* UTILITIES */
.fs-7 {
  font-size: 0.875rem;
}

.focus-visible-ring {
  &:focus {
    outline: none;
    box-shadow: none;
  }
  &:focus-visible {
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgba(255, 255, 255, 0.25);
  }
}

.min-w-20ch {
  min-width: 20ch;
}
